// Color Variables
{{ with site.Params.variables }}
$color-primary: {{.color_primary | default "#777"}};
$color-secondary: {{.color_secondary | default "#0AA8A7"}};
$text-color: {{.text_color | default "#777"}};
$text-dark: {{.text_dark | default "#222"}};
$text-light: {{.text_light | default "#999"}};
$body-bg: {{.body_color | default "#fff"}};
$border-color: {{.border_color | default "#ECECEC"}};
$black: {{.black | default "#000"}};
$white: {{.white | default "#fff"}};
$dark: {{.dark | default "#222"}};
$light: {{.light | default "#EDF6F5"}};
$gray: {{.gray | default "#EDF6F5"}};
{{ else }}
$color-primary: #777;
$color-secondary: #0AA8A7;
$text-color: #777;
$text-dark: #222;
$text-light: #999;
$body-bg: #fff;
$border-color: #ECECEC;
$black: #000;
$white: #fff;
$dark: #222;
$light: #EDF6F5;
$gray: #EDF6F5;
{{ end }}

// Font Variables
{{ with site.Params.variables }}
$font-size: {{.font_size | default "16px"}};
$font-scale: {{.font_scale | default "1.25"}};
$font-primary: '{{replace (replaceRE ":[ital,]*[ital@]*[wght@]*[0-9,;]+" "" .font_primary | default "Lato") "+" " "}}', {{.font_primary_type | default "sans-serif"}};
$font-secondary: '{{replace (replaceRE ":[ital,]*[ital@]*[wght@]*[0-9,;]+" "" .font_secondary | default "Lato") "+" " "}}', {{.font_secondary_type | default "sans-serif"}};
$font-icon: '{{.font_icon | default "Font Awesome 5 Free"}}';
{{ else }}
$font-size: 16px;
$font-scale: 1.25;
$font-primary: "Lato", sans-serif;
$font-secondary: "Lato", sans-serif;
$font-icon: "Font Awesome 5 Free";
{{ end }}

@import 'templates/bootstrap';
@import 'mixins';
@import 'typography';
@import 'common';
// @import 'tabs';
// @import 'gallery-slider';
// @import 'preloader';
// @import "images";
// @import 'notice';
// @import 'search';

@import 'templates/navigation';
@import 'templates/main';

// @import 'custom';